body {
  margin: 0 auto;
}

.title {
  display: block;
  margin: 50px auto;
  font-size: 1.4em;
  padding: 5px;
  width: 35%;
}

.content {
  display: block;
  margin: 50px auto 10px;
  padding: 10px;
  font-size: 1em;
}


.send {
  display: block;
  margin: 0 auto;
  background: #F16059;
  border: 1px solid gray;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
}
